<!DOCTYPE html>
<html> 
  <head>
    <title>Rent a Book</title>
  </head>
  <body> 
    <h1>Información del libro</h1>
    <hr>
    <br>
    <form action="/addBook" method="POST">
      <label for="titulo">Titulo:</label><br>
      <input type="text" id="titulo" name="titulo"><br>

      <label for="autor">Autor:</label><br>
      <input type="text" id="autor" name="autor"><br>
      
      <label for="editorial">Editorial:</label><br>
      <input type="text" id="editorial" name="editorial"><br>

      <label for="codigo">Codigo:</label><br>
      <input type="text" id="codigo" name="codigo"><br> 
      
      <label for="ejemplares">Ejemplares:</label><br>
      <input type="text" id="ejemplares" name="ejemplares"><br>

      <input type="SUBMIT" value="SUBMIT"><br>
      <hr>
    </form>
  </body>
</html>

