<!DOCTYPE html>
<html>
  <head>
    <title>Rent a Book</title>
  </head>
  <body>
    <h1>Información del estudiante</h1>
    <hr>
    <br>
    <form action="/addStudent" method="POST">
      <label for="nombre">Nombre:</label><br>
      <input type="TEXT" id="nombre" name="nombre"><br>

      <label for="apellido">Apellido:</label><br>
      <input type="TEXT" id="apellido" name="apellido"><br>

      <label for="codigo">Codigo:</label><br>
      <input type="TEXT" id="codigo" name="codigo"><br>

      <label for="INE">INE:</label><br>
      <input type="TEXT" id="INE" name="INE"><br>

      <label for="telefono">Celular:</label><br>
      <input type="TEXT" id="celular" name="celular"><br>

      <input type="SUBMIT" value="SUBMIT"><br>
      <hr>
    </form>
  </body>
</html>
